@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "designer";
  src: url("/fonts/Designer.otf");
}

@font-face {
  font-family: "code-new-roman";
  src: url("/fonts/Code New Roman.otf");
}

.title {
  font-family: "designer";
}

body {
  font-family: "code-new-roman";
}

.last-sale {

}

@keyframes sale-pop-up {
  from {
    background-color: rgb(32, 242, 32);
  }

  to {
    background-color: white;
  }
}

.animate_text {
  animation: animate_text 1s infinite alternate;
}

@keyframes animate_text {
  from {
    scale: 1;
    color: #7e78d2;
  }

  to {
    scale: 1.02;
    color: #544eaa;
  }
}
